@page "/process-json-response-data-by-microsoft-library"
@using ApiInteractionMultipleApis.Models
@inject IHttpClientFactory HttpClientFactory

<h3>ProcessJsonResponseDataByMicrosoftLibrary</h3>
<div>Data Received: @ExampleInstance.ExampleString</div>

@code {
    public ExampleClass ExampleInstance { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("Second API");
        ExampleInstance = await httpClient.GetFromJsonAsync<ExampleClass>("example/ReturnComplexData") ?? new();
    }
}