@page "/weather-display"
@using ApiInteractionSingleApi.Models
@inject HttpClient HttpClient

<h3>WeatherDisplay</h3>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in WeatherData)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<WeatherForecast> WeatherData { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        WeatherData = await HttpClient.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast") ?? new();
    }
}
