<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<BookDetail> Books { get; set; } = new();
}
