<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ApiInteractionMultipleApis</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="derived-class">
                <span class="oi oi-infinity" aria-hidden="true"></span> Derived Class
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="named-http-client">
                <span class="oi oi-infinity" aria-hidden="true"></span> Named HttpClient
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="http-client-wrapper">
                <span class="oi oi-infinity" aria-hidden="true"></span> HttpClient Wrapper
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="http-client-with-middlewares">
                <span class="oi oi-infinity" aria-hidden="true"></span> HttpClient with Middlewares
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interfere-with-http-client-wrapper">
                <span class="oi oi-infinity" aria-hidden="true"></span> Interfere with HttpClient Wrapper
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interfere-with-http-client-extension">
                <span class="oi oi-infinity" aria-hidden="true"></span> Interfere with HttpClient Extension
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sending-data-via-url">
                <span class="oi oi-infinity" aria-hidden="true"></span> Sending Data Via Url
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sending-complex-data">
                <span class="oi oi-infinity" aria-hidden="true"></span> Sending Complex Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sending-primitive-data">
                <span class="oi oi-infinity" aria-hidden="true"></span> Sending Primitive Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sending-stream">
                <span class="oi oi-infinity" aria-hidden="true"></span> Sending Stream Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="process-primitive-response-data">
                <span class="oi oi-infinity" aria-hidden="true"></span> Process Primitive Response Data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="process-json-response-data-by-microsoft-library">
                <span class="oi oi-infinity" aria-hidden="true"></span> Process JSON Response Data By Microsoft Library
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="process-json-response-data-by-newtonsoft-library">
                <span class="oi oi-infinity" aria-hidden="true"></span> Process JSON Response Data By Newtonsoft Library
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="process-stream-data">
                <span class="oi oi-infinity" aria-hidden="true"></span> Process Stream Data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
