@page "/derived-class"
@using ApiInteractionMultipleApis.Utilities
@inject CustomHttpClient CustomHttpClient

<h3>DerivedClass</h3>
<WeatherForecastDisplay WeatherData="WeatherData"/>

@code {
    List<WeatherForecast> WeatherData { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        WeatherData = await CustomHttpClient.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast") ?? new();
    }
}