@page "/http-client-wrapper"
@using ApiInteractionMultipleApis.Utilities
@inject SecondApiHttpClientWrapper SecondApiHttpClientWrapper

<h3>HttpClientWrapper</h3>
<BookListDisplay Books="Books"/>

@code {
    List<BookDetail> Books { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Books = await SecondApiHttpClientWrapper.GetBookDetailsAsync();
    }
}