@page "/named-http-client"
@inject IHttpClientFactory HttpClientFactory

<h3>NamedHttpClient</h3>
<WeatherForecastDisplay WeatherData="WeatherData"/>

@code {
    List<WeatherForecast> WeatherData { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("First API");
        WeatherData = await httpClient.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast") ?? new();
    }
}